nav {

    margin-top: 20px;

}

nav a {
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #222;
    font-weight: bold;

}

nav a:hover {
    color: goldenrod;
}